In [ ]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('tatadata.csv')
df.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  1991-01-02  20.959597  21.857864  20.959597  21.857864  15.738639     0.0
1  1991-01-03  20.959597  21.857864  20.959597  21.857864  15.738639     0.0
2  1991-01-04  21.857864  21.857864  21.857864  21.857864  15.738639     0.0
3  1991-01-07  20.360750  21.259020  20.061329  21.109308  15.199647     0.0
4  1991-01-08  21.109308  21.109308  21.109308  21.109308  15.199647     0.0

In [3]:
array = df['Open'].to_numpy()
array = array[1:]
series = pd.Series(array)
df['Next Day'] = series

In [4]:
df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Next Day
0,1991-01-02,20.959597,21.857864,20.959597,21.857864,15.738639,0.0,20.959597
1,1991-01-03,20.959597,21.857864,20.959597,21.857864,15.738639,0.0,21.857864
2,1991-01-04,21.857864,21.857864,21.857864,21.857864,15.738639,0.0,20.360750
3,1991-01-07,20.360750,21.259020,20.061329,21.109308,15.199647,0.0,21.109308
4,1991-01-08,21.109308,21.109308,21.109308,21.109308,15.199647,0.0,21.259020

In [5]:
df = df[df['Volume']>0]
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Next Day
1178,1995-07-10,67.070709,67.310249,66.591637,66.591637,48.747524,400353.0,66.591637
1180,1995-07-12,67.070709,68.268402,67.070709,67.789322,49.624271,226686.0,68.268402
1181,1995-07-13,68.268402,68.987015,68.028862,68.747475,50.325684,318529.0,68.987015
1182,1995-07-14,68.987015,71.382401,68.747475,70.663780,51.728474,1173507.0,71.142860
1183,1995-07-17,71.142860,71.861473,69.945168,70.903320,51.903831,681310.0,71.142860

In [6]:
df = df.drop(columns=['Adj Close','Date'])
df.sample(5)

            Open        High         Low       Close      Volume    Next Day
5911  372.009827  378.935547  371.168854  372.652924   7803372.0  375.967377
2812   13.701587   13.969870   13.548283   13.634517   2448606.0   13.701587
2878   21.845888   22.746552   21.807562   22.468687   8829273.0   22.516596
5062  204.803284  211.333237  202.824509  208.800400  28712790.0  210.739609
6426  362.500000  367.799988  362.500000  366.049988   6594019.0  367.250000

In [7]:
df['Next day %'] = ((df['Next Day'] - df['Open'])/df['Open'])*100
df['High %'] = ((df['High'] - df['Open'])/df['Open'])*100
df['Low %'] = ((df['Low'] - df['Open'])/df['Open'])*100
df['Close %'] = ((df['Close'] - df['Open'])/df['Open'])*100
df=df.drop(columns=['High','Low','Close'])
df.head(5)

,Open,Volume,Next Day,Next day %,High %,Low %,Close %
1178,67.070709,400353.0,66.591637,-0.714279,0.357145,-0.714279,-0.714279
1180,67.070709,226686.0,68.268402,1.785717,1.785717,0.000000,1.071426
1181,68.268402,318529.0,68.987015,1.052629,1.052629,-0.350880,0.701749
1182,68.987015,1173507.0,71.142860,3.125001,3.472227,-0.347225,2.430552
1183,71.142860,681310.0,71.142860,0.000000,1.010099,-1.683503,-0.336703

In [8]:
df=df.drop(columns=['Open','Next Day'])
df.head()

         Volume  Next day %    High %     Low %   Close %
1178   400353.0   -0.714279  0.357145 -0.714279 -0.714279
1180   226686.0    1.785717  1.785717  0.000000  1.071426
1181   318529.0    1.052629  1.052629 -0.350880  0.701749
1182  1173507.0    3.125001  3.472227 -0.347225  2.430552
1183   681310.0    0.000000  1.010099 -1.683503 -0.336703

In [9]:
df.isnull().sum()

Volume        0
Next day %    8
High %        0
Low %         0
Close %       0
dtype: int64

In [10]:
df = df.dropna()
df

          Volume  Next day %    High %     Low %   Close %
1178    400353.0   -0.714279  0.357145 -0.714279 -0.714279
1180    226686.0    1.785717  1.785717  0.000000  1.071426
1181    318529.0    1.052629  1.052629 -0.350880  0.701749
1182   1173507.0    3.125001  3.472227 -0.347225  2.430552
1183    681310.0    0.000000  1.010099 -1.683503 -0.336703
...          ...         ...       ...       ...       ...
8389  10346657.0   -0.005213  0.026069 -1.678830 -0.917621
8390  10645369.0    3.576828  2.236823 -0.234632  1.923981
8391   6084495.0    3.397936  0.176189 -1.323939 -0.609110
8392  59811033.0   -0.194742  3.758518 -2.108084 -0.496590
8393  14214823.0    0.000000  0.551222 -1.560976 -0.717071

[7066 rows x 5 columns]

In [11]:
# df.to_csv('tatamotors.csv',index=False)

In [12]:
import pickle
pipe = pickle.load(open('pipe.pkl','rb'))

c:\Users\shail\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator MinMaxScaler from version 1.3.2 when using version 1.5.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
c:\Users\shail\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator FunctionTransformer from version 1.3.2 when using version 1.5.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
c:\Users\shail\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator ColumnTransformer from version 1.3.2 when using version 1.5.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
c:\Users\shail\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator LinearRegression from version 1.3.2 when using version 1.5.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
c:\Users\shail\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator Pipeline from version 1.3.2 when using version 1.5.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [13]:
type(pipe)

sklearn.pipeline.Pipeline

In [14]:
import numpy as np
volume = 1245677
close_percentage = 0.78
high_percentage = 1.12
low_percentage = 0.88
test_input = np.array([volume,close_percentage,high_percentage,low_percentage],dtype=object)

In [15]:
pipe.predict(test_input.reshape(1,4))

c:\Users\shail\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

AttributeError: 'str' object has no attribute 'transform'